In [43]:
# reading data from csv dataset using pandas
import pandas
filename = 'math.csv'
data = pandas.read_csv(filename)
data.head()

   Unnamed: 0  Ayear  Fall  Spring
0           1   2001   259     246
1           2   2002   301     206
2           3   2003   343     288
3           4   2004   307     215
4           5   2005   286     230

In [44]:
# checking whether there are any null values so we may filter them out
print(data.isnull().any)

<bound method DataFrame.any of     Unnamed: 0  Ayear   Fall  Spring
0        False  False  False   False
1        False  False  False   False
2        False  False  False   False
3        False  False  False   False
4        False  False  False   False
5        False  False  False   False
6        False  False  False   False
7        False  False  False   False
8        False  False  False   False
9        False  False  False   False
10       False  False  False   False>

In [45]:
# checking data types in our data set
data.dtypes

Unnamed: 0    int64
Ayear         int64
Fall          int64
Spring        int64
dtype: object

In [46]:
data.describe()

       Unnamed: 0        Ayear        Fall      Spring
count   11.000000    11.000000   11.000000   11.000000
mean     6.000000  2006.000000  285.454545  257.818182
std      3.316625     3.316625   28.175747   32.710299
min      1.000000  2001.000000  248.000000  206.000000
25%      3.500000  2003.500000  266.000000  238.000000
50%      6.000000  2006.000000  286.000000  254.000000
75%      8.500000  2008.500000  302.000000  285.500000
max     11.000000  2011.000000  343.000000  308.000000

In [142]:
import matplotlib.pyplot as plt
import numpy as np

# import data with loadtxt, but only the relevant floats. 
# data.csv is the file as you have given it above
data = np.loadtxt('math.csv', delimiter=',', skiprows = 1, usecols = (2,))
print(data)

# import the tick labels
years = np.loadtxt('math.csv', dtype='str', delimiter=',', skiprows = 1, usecols = (1,))
print(years)

plt.ylabel("No. of students")
plt.xlabel("Year")

plt.title("No. of Students in Fall Semester in Maths Class")

plt.xticks([i + 0.5 for i, _ in enumerate(years)], years)
plt.yticks(np.arange(0,400,50))

plt.bar(data, years

plt.show()

[ 259.  301.  343.  307.  286.  273.  248.  292.  250.  278.  303.]
['2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010'
 '2011']

ValueError: incompatible sizes: argument 'height' must be length 10 or scalar

In [ ]:
+